.post {
  padding: 30px 80px 30px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  &_link {
    text-decoration: none;
    color: unset;
  }
  &_border {
    border-bottom: 1px solid #ccc;
    margin: 0 40px 0 40px;
  }
  &_text {
    color: #333;
    font-size: 13pt;
    font-weight: 500;

    &--author {
      color: #999;
      margin-left: 10px;
      font-weight: normal;
    }
  }
  &_actions {
    display: flex;

    &--img-wrapper {
      margin-left: 80px;
      & img {
        opacity: 0;
      }
    }
  }

  &:hover {
    background-color: #fafafa;
    & img {
      opacity: 1;
    }
  }
}
