.header {
  background-color: #333333;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  height: 200px;

  &_wrapper {
    margin-left: 30px;
  }
  &_title {
    color: #fff;
    margin: 0;
    font-size: 68px;
  }
  &_sub-title {
    color: #fff;
    margin: 0;
    font-size: 22px;
  }
}
